
// ======================
// 	Sidebar Left
//   _layout
.sb-l {
  .sb-l-content {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
    height: calc(100vh - 20px);
    background-color: $blue;
    @include MQ(M) {
      width: calc( 100% - 20px );
      height: 40px;
    }
  }
}


.sb-r {
  .sb-r-content {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: calc(100vh - 20px);
    background-color: $blue;
    @include MQ(M) {
      position: relative;
      margin: 10px;
      bottom: auto;
      right: auto;
      height: 40px;
      width: calc(100% - 20px);
    }
  }
}
