
// ======================
// 	Sidebar Left
//   _layout

.sb-l-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100vh;
  border-right: 1px solid #424242;
  background-color: white;
  transition: all 333ms ease-in-out;
  &.open-content-left { width: 140px; }

  @include MQ(M) {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #424242;
    border-right: 0px solid #424242;
    &.open-content-left { height: 140px; width: 100%; }

    .menu {
      top: 10px;
      width: 40px;
    }
  }
}

.menu {
  position: absolute;
  top: 80px;
  left: 10px;
  width: 40px;
  height: 40px;
  background-color: $black;
  transition: all 133ms ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: $gold;
    transition: all 333ms ease-in-out;
  }
}



// ======================
// 	Sidebar Right
//   _layout

.sb-r {
  .sb-r-content {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: calc(100vh - 20px);
    background-color: $grey;
    @include MQ(M) {
      position: relative;
      margin: 10px;
      bottom: auto;
      right: auto;
      height: 40px;
      width: calc(100% - 20px);
    }
  }
}
